.menu{
    width: 100%;
    background-color: $theme-main-color;
    font-family: Ubuntu, sans-serif;
}

@mixin hiden(){
    position: absolute;
    visibility: hidden;
}
@mixin visible(){
    position: inherit;
    visibility: visible;
}

.menu__container{
    margin: 0 auto;
    list-style-type: none; 
    padding: 0;
    overflow: hidden;
    flex-wrap: nowrap;
}
.menu__schow-btn {
    position: absolute;
    visibility: hidden;
}

.menu__item {
    float: left;
    width: 20%;
}

.menu__link{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 0px; 
} 

.menu__link:hover {
    background-color:$theme-main-color_hover;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .menu__item {
        float: none;
        width: 100%;
    }
    .menu__container{
        @include hiden();
    }
    .menu__schow-btn {
        @include visible();
    }
    
}

.hiden{
    @include hiden();
} 
@media screen and (min-width: 1200px){
    .menu__container{
        width: 1200px;
    }
}

@media screen and (min-width: 1200px){
    .menu__container{
        @include visible();
    }
    .menu__schow-btn {
        @include hiden();
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .menu__container{
        @include visible();
    }
    .menu__schow-btn {
        @include hiden();
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .menu__container{
        @include visible();
    }
    .menu__schow-btn { 
        @include hiden();
    }
}
.visible{
    @include visible();
}




