.user-modal
    .user-modal__container
        %ul.user-modal__switcher
            %li.user-modal__switcher-item
                %a.user-modal__switcher-login.user-modal__switcher-login_selected(th:text="\#{form.title.enter}") Вход
            %li.user-modal__switcher-item
                %a.user-modal__switcher-signup(th:text="\#{form.title.registration}") Регистрация    
        .user-modal__login.user-modal__login_is-selected
            %form.form(th:action="@{/login}" method="post")
                %p.form__fieldset
                    %label.form__image.form__image-email(th:text="\#{form.field.email}") E-mail
                    %input#login-email.form__input.form__input_has-error(th:if="${param.failed}" type='text' th:placeholder="\#{form.placeholder.email}" name='email')
                    %input#login-email.form__input(th:unless="${param.failed}" type='text' th:placeholder="\#{form.placeholder.email}" name='email')
                %p.form__fieldset.form__fieldset-login-password
                    %label.form__image.form__image-password(th:text="\#{form.field.password}")
                    %input#login-password.form__input.form__input_has-error(th:if="${param.failed}" type='text' th:placeholder="\#{form.placeholder.password}" name='password')
                    %input#login-password.form__input(th:unless="${param.failed}" type='text' th:placeholder="\#{form.placeholder.password}" name='password')
                    %a.form__hide-password(th:text="\#{form.field.hide}")
                    %span.form__error-message.form__error-message_is-visible(th:if="${param.failed}" th:text="\#{authentication.error}")
                %p.form__fieldset
                    %input.form__submit(type='submit' th:value="\#{form.button.enter}")
        .user-modal__signup
            %form.form(th:action="@{/signup}" method="post")
                %p.form__fieldset
                    %label.form__image.form__image-name(th:text="\#{form.field.name}")
                    %input#signin-name.form__input(type='text' th:placeholder="\#{form.placeholder.name}" name='name')
                %p.form__fieldset
                    %label.form__image.form__image-name(th:text="\#{form.field.email}") E-mail
                    %input#signin-email.form__input(type='email' th:placeholder="\#{form.placeholder.email}" name='email')
                    %span.form__error-message.form__error-message_is-visible(th:if="${param.error!= null}" th:text="\#{${param.error}}")
                %p.form__fieldset.form__fieldset-signup-password
                    %label.form__image.form__image-password(th:text="\#{form.field.password}")
                    %input#signin-password.form__input(type='text' th:placeholder="\#{form.placeholder.password}" name='password')
                    %a.form__hide-password(th:text="\#{form.field.hide}")
                %p.form__fieldset
                    %input.form__submit(type='submit' th:value="\#{form.button.registration}") 
        %a.user-modal__close-form Закрыть

%script{src:"/js/adminpanel/requestSender.js"}
%script{src:"/js/blocks/form/form.js"}
:javascript
    setPasswordSchowAction('.form__fieldset-login-password');
    setPasswordSchowAction('.form__fieldset-signup-password');





