.new-item{
  width: 100%;
  display: flex;
  justify-content: center;
}
.new-item__img{
  max-width: 100%;
}

.new-item__date{
  color: #5a5a5a;
  margin: 0 0 10px 0;
}

.new-item__title{
  font-weight: bold;
  color: #000;
  font-size: 30px;
}
.new-item__text{
  font-size: 18px;
    line-height: 24px;
    color: #363636;
    font-family: "Roboto", arial, sans-serif;
    margin: 15px 0 25px 0;
}