.photo-slider
    .photo-slider__container
        %img.photo-slider__item(th:each="image:${book.images}" th:src="${image.path}" th:alt="\#{img.book.alt}" itemprop="image")
    .photo-slider__control
        .photo-slider__control-item.sm-4(th:each="image, iter:${book.images}" )
            %button.photo-slider__bth(th:onclick="${\"currentDiv(\" + iter.count + \")\"}")
                %img.photo-slider__btn-image(th:src="${image.path}" th:alt="\#{img.book.alt}")

%script{src:"/js/blocks/photo-slider.js"}
:javascript
    //multiItemSlider(".slider-main")
