<div class='card'>
    <div class='card-header'>Редактирование автора</div>
<div class='card-body card-block'>
<form class='form this_modal_form' enctype='multipart/form-data' id='thisCurrentForm' method='post' onsubmit='sendDataFromModalForm(&#39;.this_modal_form&#39;); return false;' th:action='${action}'>
<input name='id' th:value='${author.id}' type='hidden'>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Name</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_email' name='name' placeholder='Name' th:value='${author.name}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
</form>
</div>
<div class='card-footer'>
<button class='btn btn-primary btn-sm' form='thisCurrentForm' type='submit'>
<i class='fa fa-dot-circle-o'>Сохранить</i>
</button>
</div>
</div>
