@import 'modal-container';


.form{
    padding: 1.4em;
}
.form__fieldset{
    position: relative;
    margin: 1.4em 0;
    text-align: center;
} 

.form__image{
    margin-top: 0;
    font-size: 14px;
    font-size: 0.875rem;
    display: inline-block;
    position: absolute;
    left: 15px; 
    top: 50%;
    bottom: auto;
    transform: translateY(-50%); 
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.form__image-email{
    background-image: url("/img/form/icon-email.svg");
}
.form__image-password{
    background-image: url("/img/form/icon-password.svg");
}
.form__image-name{
    background-image: url("/img/form/icon-username.svg");
}
.form__image-select{
    background-image: url("/img/form/icon_select.gif");
}
.form__input,
.form__select{
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
    width: 100%;
    padding: 12px 20px 12px 50px;
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.form__input:focus,
.form__select:focus{
    border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.form__select{
    background-color: #FFF;
}
.form__select:hover{
    cursor: pointer;
}
.form__input_has-error{
    border: 1px solid  rgba(190, 70, 48, 0.9);;
}

.form__error-message{
    margin-bottom: 0;
    display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(190, 70, 48, 0.9);
  opacity: 0.3;
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* предотвращения кликов и прикосновения */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.form__error-message::after{
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent;
    border-bottom: 8px solid  rgba(190, 70, 48, 0.9);;
    opacity: 0.9;
}
.form__error-message_is-visible{
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}
.form__hide-password{
    display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.form__submit{
    width: 100%;
    padding: 16px 0;
  cursor: pointer;
  background: $theme-main-color;
  color: #FFF;
  font-weight: bold;
  border: none;
  appearance: none;
}
.form__submit:hover{
    background: $theme-main-color_hover;
    outline: none;
}

