.callback{

} 

.callback__number{
    font-size: 25px;
    color: $theme-main-color;
}

.callback__img{
    width: 20px;
    height: 20px;
    background: $theme-main__phone-img;
    display: inline-block;
    margin: 5px;
}
.callback__container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.callback__href{
    color: $theme-main-color;
    font-size: 20px;
    text-decoration: none;
}

.callback__href:hover {
    color: $theme-main-color_hover;
    cursor: pointer;
}
