<div class='card'>
    <div class='card-header'>Редактирование контакра</div>
<div class='card-body card-block'>
<form class='form this_modal_form' enctype='multipart/form-data' id='thisCurrentForm' method='post' onsubmit='sendDataFromModalForm(&#39;.this_modal_form&#39;); return false;' th:action='${action}'>
<input name='id' th:value='${contact.id}' type='hidden'>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Address</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_address' name='address' placeholder='Address' th:value='${contact.address}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Schedule</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_schedule' name='schedule' placeholder='Schedule' th:value='${contact.schedule}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Phone</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_phone' name='phone' placeholder='Phone' th:value='${contact.phone}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Google lat</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_googlelat' name='googlelat' placeholder='Google lat' th:value='${contact.google_lat}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Google ing</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_googleing' name='googleing' placeholder='Google ing' th:value='${contact.google_ing}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
</form>
</div>
<div class='card-footer'>
<button class='btn btn-primary btn-sm' form='thisCurrentForm' type='submit'>
<i class='fa fa-dot-circle-o'>Сохранить</i>
</button>
</div>
</div>
