%html
    %head
        %meta{charset:"utf-8"}
        %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        %link{rel:"stylesheet", type:"text/css", href:"css/index.css"}
        %META{NAME:"ROBOTS", CONTENT:"NOINDEX, FOLLOW"}
        
    %body
        .media-container
            = Haml::Engine.new(File.read("blocks/header/header.haml")).render

        = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render

        .media-container
            = Haml::Engine.new(File.read("blocks/account/account.haml")).render

        .media-container
            .sm-12.md-12.lg-r-8.xl-r-8
                = Haml::Engine.new(File.read("blocks/order/order.haml")).render
        

        .horosontal-line
            .media-container
                = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render