-# haml index.haml index.html
-# sass --watch blocks/index.scss:index.css
-#
-# haml pages/index.haml index.html 
-# haml pages/news.haml news.html 
-# haml pages/gallery.haml gallery.html 
-# haml pages/catalog.haml catalog.html 
-# haml pages/book-item.haml book-item.html 
-# haml pages/account.haml account.html 
-# haml pages/contacts.haml contacts.html 
-# haml pages/delivery.haml delivery.html 
%html(xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4")
  %head
    %meta{charset:"utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
    %link{rel:"stylesheet", type:"text/css", href:"/css/index.css"}
    %title Книжный магазин «BookStore»
    %meta(name="description" content=" нашем магазине — широкий выбор тематик: от узкоспециальной литературы до мировых бестселлеров. У нас Вы можете купить книгу с доставкой в течение 1-5 дней в любой регион РБ. Первым покупателям — скидка 10%.")
    %meta(name="keywords" content="Купить книги беларусь, купить книги со скидкой")

            
    %meta(property="og:title" th:content="${newItem.title}")
    %meta(property="og:url" th:url="${\"/new/get?id=\" + newItem.id}")
    %meta(property="og:description" th:content="${newItem.content}")
    %meta(property="og:image" th:content="${newItem.image}")
  %body
    .media-container
      = Haml::Engine.new(File.read("blocks/header/header.haml")).render

    = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render
     
    .media-container 
      .new-item(itemtype="https://schema.org/NewsArticle" itemscope='')
        %span(itemprop='author' itemscope itemtype='https://schema.org/Person')
          %meta(itemprop='name' content='admin')
        %span(itemscope itemprop="publisher" itemtype="http://schema.org/Organization")
          %meta(content="/" itemprop="url")
          %meta(itemprop="name" content="BookStore")
          %meta(itemprop='logo' content='/img/logo_red.gif')
        
        .sm-12.md-10.lg-8.xl-7
          %h1.new-item__title(itemprop='headline' itemscope itemtype='https://schema.org/Text' th:utext="${newItem.title}")
          .new-item__date(itemprop='datePublished' th:utext="${newItem.date}")
          %img.new-item__img(itemprop='image' itemscope itemtype='https://schema.org/Url' th:src="${newItem.image}")
          .new-item__text(th:utext="${newItem.content}")



    .horosontal-line
    .media-container
      = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render