.card
  .card-header Редактирование автора
  .card-body.card-block
    %form.form.this_modal_form(th:action="${action}" method="post" enctype="multipart/form-data" onsubmit="sendDataFromModalForm('.this_modal_form'); return false;" id="thisCurrentForm")
      %input(type="hidden" name="id" th:value="${author.id}")
      
      .row.form-group
        .col.col-md-3
          .form-control-label  Name
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${author.name}" id='email' name='name' type="text" placeholder="Name" )
          %span.form__error-message 
  .card-footer
    %button.btn.btn-primary.btn-sm(type="submit" form="thisCurrentForm" ) 
      %i.fa.fa-dot-circle-o Сохранить
