<div style="overflow:hidden;position: relative;"><iframe width="100%" height="100%"
    src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=%D0%92%D0%B8%D1%82%D0%B5%D0%B1%D1%81%D0%BA%2C%20%D1%84%D1%80%D1%83%D0%BD%D0%B7%D0%B5%2C%2014+(%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D1%8C)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  <div
    style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
    <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a
        href="https://embedgooglemaps.com/ru/">https://embedgooglemaps.com/ru/</a> & <a
        href="https://iamsterdamcard.it">iamsterdamcard.it</a></small></div>
  <style>
    #gmap_canvas img {
      max-width: none !important;
      background: none !important
    }
  </style>
</div><br />