$grid-columns: 12;

$size-value: (sm: 0px, md: 576px, lg: 768px, xl: 1200px);

@each $size, $value in $size-value {
    @media only screen and (min-width: #{$value}) {
        @for $j from 1 through $grid-columns {
            .#{$size}-#{$j} { 
                float: left; 
                width:100% / $grid-columns * $j;
            }
            .#{$size}-r-#{$j} { 
                float: right; 
                width:100% / $grid-columns * $j;
            }
        }
        .#{$size}-hiden { 
            visibility:hidden;
            position: absolute;
        }
    }
}

.grid-area {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
