
$theme-main-horisontal-line-color: #d6d6d6;
$theme-main__background-color_hover: #eeeeee;
$theme-main__text-colot: #474747;




$theme-main-color: #00ccc2;
$theme-main-color_hover: #00998c;
$theme-main__logo: url('/img/logo_blue.gif');
$theme-main__phone-img: url('/img/ico_phone_blue.gif');

$theme-main-color: #30cc00;
$theme-main-color_hover: #009908;
$theme-main__logo: url('/img/logo_green.gif');
$theme-main__phone-img: url('/img/ico_phone_green.gif');

$theme-main-color: #cc0000;
$theme-main-color_hover: #990000;
$theme-main__logo: url('/img/logo_red.gif');
$theme-main__phone-img: url('/img/ico_phone_red.gif');


$red: #cc0000;
$green: #30cc00;
$blue: #00ccc2;


@import 'login-signup/login-signup.scss';
@import 'form/form.scss';
 
