
$margin_:8px;

.comments{
    display: flex;
}

.comments__item{
    background-color: #efefef;
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
    border-radius: 2px; 
    padding: 2px;
}

.comments__image{
    box-sizing: border-box;
    margin: $margin_; 
    width: calc(100% - #{$margin_+$margin_});
}

.comments__commentator-name{
    margin: $margin_;
    color:#474747;
    font-weight: bold;
    font-size: 20px;
}

.comments__content{
    margin: $margin_;
    color: #5b5b5b;
}

@media screen and (min-width: 1200px){

}
@media screen and (min-width: 768px) and (max-width: 1200px) {

}
@media screen and (max-width: 576px) {
    .comments {
        display: block;
        float: none;
        width: 100%;
    }
}