
.comments
    .comments__item(th:each="comment:${comments}")
        %img.comments__image(th:src="${comment.user.image}" th:alt="${comment.user.name}")
        .comments__commentator-name(th:text="${comment.user.name}")
        .comments__content(th:text="${comment.content}")
           