
.news {
  
}
.news__container{
  display: flex;
  flex-wrap: wrap;
}

.news__item{
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.new__item_modal{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    opacity: 1;
    transition: opacity .3s 0, visibility 0 0;
    display: block;
}
.new{ 
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 1px solid $theme-main-horisontal-line-color;
  overflow: hidden;
} 
.new_modal{
  background-color: #ccc;
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  border-radius: .25em;
  transform: translateY(-30px);
  transition-property: transform;
  transition-duration: .3s;
  margin-top: 100px;
  text-decoration: none;
  overflow: visible;
}

.new__link{
  text-decoration: none;
}
.new__link_modal:hover{
  cursor: auto;
}

.new:hover{
  .new__icon{
    transform: scale(1.15);
  }
  .new_content{
    text-decoration: underline;
  }
}
.new_modal:hover{
  .new__icon{
    transform: none;
  }
  .new_content{
    text-decoration: none;
  }
}

.new__icon-container{
  overflow: hidden;
  height: 150px;
  text-align: center;
  text-align: -webkit-center;
}
.new__content-container{
  
  border-radius:0 0 10px 10px ;
  box-sizing: border-box;
  padding: 0 2px 15px 2px;
}
.new__icon{
  height: 100%;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
  border: none;
}
.new__title{
 
  text-decoration: none;
}
.new_content{
  margin: 5px 5px 30px 5px;
  white-space: normal;
  font-size: 16px;
  line-height: 1.375;
  color: #1a0dab;
  font-family: arial,sans-serif;
}

.new_date{
  color: #777;
  line-height: 1.33;
  white-space: nowrap;
  font-size: 12px;
  font-weight: normal;
  font-family: arial,sans-serif;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.new_full-text{
  position: fixed;
  visibility: hidden;
  white-space: normal;
  font-size: 16px;
  line-height: 1.375;
  color: #000000;
  font-family: arial,sans-serif;
  margin: 5px 5px 30px 5px;
}
.new_full-text_modal{
  position: inherit;
  visibility: visible;
}
.new__close-form{
  display: block;
  position: absolute;
  visibility: hidden;
  /* width: 40px; */
  /* height: 40px; */
  right: 0;
  top: -25px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.new__close-form-img{
  width: 20px;
  height: 20px;
  background: url(/img/icon-close.svg) no-repeat center center;
}
.new_modal__close-form{ 
  visibility: visible;
}
