.card
  .card-header Редактирование книги
  .card-body.card-block
    %form.form.this_modal_form(th:action="${action}" method="post" enctype="multipart/form-data" onsubmit="sendDataFromModalForm('.this_modal_form'); return false;" id="thisCurrentForm")
      %input(type="hidden" name="id" th:value="${book.id}")
      .row.form-group
        .col.col-md-3
          .form-control-label Name
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${book.name}" name='name' id='email' type="text" placeholder="Name" ) 
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Author
        .col-12.col-md-9
          %select#login-author.form-control(id='author' name='author' placeholder="author")
            %option(th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}" th:selected="${author.id==book.author.id}" placeholder="Автор" ) 
      .row.form-group
        .col.col-md-3
          .form-control-label Genre
        .col.col-md-9
          .form-check.form-check
            .checkbox(th:each="genre : ${genres}")
              %label.form-check-label(th:for="'login-genre' + ${genre.id}" )
                %label.switch.switch-3d.switch-info.mr-3
                  %input.form-check-input.switch-input(th:id="'login-genre' + ${genre.id}" type='checkbox' name='genre' placeholder="genre" th:value="${genre.id}"   th:checked="${book.genres.contains(genre)}")
                    %span.switch-label
                    %span.switch-handle
                %span(th:text="${genre.label}")
                
      .row.form-group
        .col.col-md-3
          .form-control-label Description
        .col-12.col-md-9
          %textarea#login-email.form-control(name='description' th:text="${book.description}" id='description' placeholder="Description" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Price
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${book.price}" name='price' id='price' type="text" placeholder="Price" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Count
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${book.count}" name='count' id='count' type="text" placeholder="Count" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3
          .form-control-label Images
        .col.col-md-9
          .form-check.form-check
            .row
              .checkbox.col.col-md-4.col-sm-12(th:each="image:${images}")
                %input(type="hidden" name="imagesOldId" th:value="${image.id}")
                %label.switch.switch-3d.switch-danger.mr-3
                  %input.switch-input(type="checkbox" th:id="${image.id + 'dsfdf'}" name="deleteList" th:value="${image.id}")
                  %span.switch-label
                  %span.switch-handle
                %label(th:text="\#{adminpanel.modal.field.label.deleteimg}" th:for="${image.id + 'dsfdf'}")
                  %input#user-image.form-control(id='image' name="imagesNew" type="file" placeholder="image" accept="image/png, image/jpeg")
                %img.form__image-content-item(th:src="${image.path}")
      .row.form-group
        .col.col-md-3
          .form-control-label Image
        %input#user-image.form-control(id='image' name="imagesAdded" type="file" multiple accept="image/png, image/jpeg")
  .card-footer
    %button.btn.btn-primary.btn-sm(type="submit" form="thisCurrentForm" ) 
      %i.fa.fa-dot-circle-o Сохранить