.user-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}

.user-modal_is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s 0, visibility 0 0;
}

.user-modal__container{
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    transform: translateY(-30px);
    transition-property: transform;
    transition-duration: 0.3s;
    margin-top: 100px;
}

.user-modal__switcher:after{
    content: "";
    display: table;
    clear: both;
}
.user-modal__switcher{
    list-style-type: none;
}

.user-modal__switcher-item{
    width: 50%;
    float: left;
    text-align: center;
}
.user-modal__switcher-item:hover{
    cursor: pointer;
}

.user-modal__switcher-signup{
    border-radius: .25em 0 0 0;
    
}

.user-modal__switcher-login_selected,
.user-modal__switcher-signup_selected,
.user-modal__switcher-login,
.user-modal__switcher-signup{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: $theme-main-color;
    color: #ffffff;
}

.user-modal__switcher-login_selected,
.user-modal__switcher-signup_selected{
    background: #FFF;
    color: #000000;
}

.user-modal__switcher{
    padding: 0;
}
.user-modal__switcher-item{

}

.user-modal__login,
.user-modal__signup{
    display: none;
}

.user-modal__login_is-selected, 
.user-modal__signup_is-selected{ 
    display: block;
}

.user-modal__close-form{ 
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: -25px; 
    background: url("/img/icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap; 
    overflow: hidden;  
}
.user-modal__close-form:hover{
    cursor: pointer;
}