.card
  .card-header Редактирование новости
  .card-body.card-block
    %form.form.this_modal_form(th:action="${action}" method="post" enctype="multipart/form-data" onsubmit="sendDataFromModalForm('.this_modal_form'); return false;" id="thisCurrentForm")
      %input(type="hidden" name="id" th:value="${newItem.id}")
      .row.form-group
        .col.col-md-3
          %image.form__image-content-item(th:src="${newItem.image}" th:alt="${newItem.title}")
      
      .row.form-group
        .col.col-md-3
          .form-control-label  Title
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${newItem.title}" name='title' id='title' type="text" placeholder="Title" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label  Content
        .col-12.col-md-9
          %textarea#login-email.form-control(th:text="${newItem.content}" name='content' id='content' placeholder="Content" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label  Image
        .col-12.col-md-9
          %input#user-image.form-control(th:value="${newItem.image}" name='image' id='image' type="file" placeholder="image" accept="image/png, image/jpeg")
          %span.form__error-message 
  .card-footer
    %button.btn.btn-primary.btn-sm(type="submit" form="thisCurrentForm" ) 
      %i.fa.fa-dot-circle-o Сохранить