.search-form{
    width: 100%;
}

.search-form__content{
    /*border-radius: 30px;*/
    border:1px solid gray;
}

.search-form__input{
    font-size: 15px;
    color: black;
    outline: 0;
    width: calc(100% - 40px);
    background: none;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

.search-form__button{
    height: 30px;
    width: 30px;
    float: right;
    margin-top: 5px;
    margin-right: 10px; 
}