.slider.slider_books
  .slider__wrapper.grid-area
    .slider__item_center.sm-flex-12.md-flex-6.lg-flex-4.xl-flex-3(th:each="book:${books}")
      .book
        %a.book__link(th:href="${\"/book/card.html?id=\" + book.id}")
          .book__icon-container
            %img.book__icon(th:src="${book.images[0].path}" th:alt="${book.name}") 
          .book__text-container
            .book__name(th:text="${book.name}")
            .book_author(th:text="${book.author.name}")
          .book__price(th:text="${\"$\" + book.price}")    
  %a.slider__control.slider__control_left(href="#" role="button")
  %a.slider__control.slider__control_right.slider__control_show(href="#" role="button")

 

:javascript
  multiItemSlider('.slider_books', '.slider__wrapper','.slider__item_center');
  window.onresize = function(event) {
    multiItemSlider('.slider_books','.slider__wrapper' ,'.slider__item_center');
  };