.card
  .card-header Редактирование фото
  .card-body.card-block
    %form.form.this_modal_form(th:action="${action}" method="post" enctype="multipart/form-data" onsubmit="sendDataFromModalForm('.this_modal_form'); return false;" id="thisCurrentForm")
      %input(type="hidden" name="id" th:value="${galleryItem.id}")
    .row.form-group
      .form__image-content-container
        %image.form__image-content-item(th:src="${galleryItem.image}")
    .row.form-group
      .col.col-md-3
        .form-control-label  Image
      .col-12.col-md-9
        %input#user-image.form-control(th:value="${galleryItem.image}" id='image' name="image" type="file" placeholder="image" accept="image/png, image/jpeg")
        %span.form__error-message 
  .card-footer
    %button.btn.btn-primary.btn-sm(type="submit" form="thisCurrentForm" ) 
      %i.fa.fa-dot-circle-o Сохранить