.media-container {
    overflow: hidden;
    width: 100%;
}

.media-container__item{ 
    width: 100%;
    display: inherit;
    margin: 0 auto;
}

@media screen and (min-width: 1200px){
    .media-container{
        width: 1200px; 
        margin-left: calc(50% - 600px);
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {

}
@media screen and (max-width: 576px) {
    .media-container {
        float: none;
        width: 100%;
        display: block;
    }
}


