.account
    %form
        %input(type='hidden' th:value="${user.id}" id="account_id")
    .sm-12.md-4.lg-4.xl-4 
        .account__img-wrapper
            %img.account__img(th:src="${user.image}")
            .account__config-img-wrapper
                %img.account__config-img(src="/img/ici_config.jpg")
    .sm-12.md-8.lg-8.xl-8 
        .account__container
            .account__wraper
                .account__item_title
                    .account__wraper
                        .account__item-content_last
                            .account__title(th:text="\#{account.title}")
                .account__item.account_name
                    .account__wraper
                        .account__item-content
                            .account__wraper
                                .sm-12.md-4.lg-4.xl-3
                                    .account__key(th:text="\#{account.name}")
                                .sm-12.md-8.lg-8.xl-9
                                    .account__value(th:text="${user.name}")
                .account__item.account_email
                    .account__wraper
                        .account__item-content
                            .account__wraper
                                .sm-12.md-4.lg-4.xl-3
                                    .account__key(th:text="\#{account.email}")
                                .sm-12.md-8.lg-8.xl-9
                                    .account__value(th:text="${user.email}")
                .account__item.account_password
                    .account__wraper
                        .account__item-content_last
                            .account__wraper
                                .sm-12.md-4.lg-4.xl-3
                                    .account__key(th:text="\#{account.password}")
                                .sm-12.md-8.lg-8.xl-9
                                    .account__value ***
        
    .sm-12.md-r-12.lg-r-8.xl-r-8 
        .account__container
            .account__wraper
                .account__item_title
                    .account__wraper
                        .account__item-content_last
                            .account__title(th:text="\#{delivery.title}")
                .account__item.account_address
                    .account__wraper
                        .account__item-content
                            .account__wraper
                                .sm-12.md-4.lg-4.xl-3
                                    .account__key(th:text="\#{delivery.sending-address}")
                                .sm-12.md-8.lg-8.xl-9
                                    .account__value(th:text="${user.delivery.address}")
                .account__item.account_index
                    .account__wraper
                        .account__item-content
                            .account__wraper
                                .sm-12.md-4.lg-4.xl-3
                                    .account__key(th:text="\#{delivery.index}")
                                .sm-12.md-8.lg-8.xl-9
                                    .account__value(th:text="${user.delivery.index}")
                .account__item.account_phone
                    .account__wraper
                        .account__item-content_last
                            .account__wraper
                                .sm-12.md-4.lg-4.xl-3
                                    .account__key(th:text="\#{delivery.phone-number}")
                                .sm-12.md-8.lg-8.xl-9
                                    .account__value(th:text="${user.delivery.phone}")

    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    %script{src:"/js/blocks/form/formDataSnder.js"}
    %script{src:"/js/adminpanel/requestSender.js"}
    %script{src:"/js/blocks/account/editable-fild.js"}
    %script{src:"/js/blocks/account/imageChanger.js"}
    :javascript
        makeFieldEditable('.account_name',     'name',     'account_id', "/user/update/partial");
        makeFieldEditable('.account_email',    'email',    'account_id', "/user/update/partial");
        makeFieldEditable('.account_password', 'password', 'account_id', "/user/update/partial", true);
        makeFieldEditable('.account_address',  'address',  'account_id', "/user/update/partial/delivery");
        makeFieldEditable('.account_index',    'index',    'account_id', "/user/update/partial/delivery");
        makeFieldEditable('.account_phone',    'phone',    'account_id', "/user/update/partial/delivery");
        makeImageChangable(".account__img-wrapper",        'account_id', '/user/update/partial');