.book-buy-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}

.modal_is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0, visibility 0 0;
}

.modal__container{
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  transform: translateY(-30px);
  transition-property: transform;
  transition-duration: 0.3s;
  margin-top: 100px;
}

.modal__switcher:after{
  content: "";
  display: table;
  clear: both;
}
.modal__switcher{
  list-style-type: none;
}

.modal__switcher-item{
  width: 50%;
  float: left;
  text-align: center;
}

.modal__switcher-second{
  border-radius: .25em 0 0 0;
  
}

.modal__switcher-first_selected,
.modal__switcher-second_selected,
.modal__switcher-first,
.modal__switcher-second{
  text-decoration: none;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: $theme-main-color;
  color: #ffffff;
}

.modal__switcher-first_selected,
.modal__switcher-second_selected{
  background: #FFF;
  color: #000000;
}

.modal__switcher{
  padding: 0;
}

.modal__first,
.modal__second{
  display: none;
}

.modal__first_is-selected, 
.modal__second_is-selected{ 
  display: block;
}

.modal__close-form{ 
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px; 
  background: url("/img/icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap; 
  overflow: hidden;  
}