.book{
    box-sizing: border-box;
    width: 100%;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    margin: 1px;
    border: 1px solid white;
    border-radius: 5px;
    max-width: 200px;
}
.book:hover{

    .book__name{
        color:$theme-main-color_hover;
    }
   

    .book__icon{
        transform: scale(1.15);
    }
    

}
.book__link{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    
}
.book__icon-container{
    overflow: hidden;
    height: 70%;
}
.book__icon{
    width: 100%;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
    border: none;

}
.book__text-container{
    height: 30%;
    width: 100%;
} 

$left_mr: 20px;

.book__name{ 
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: $theme-main-color;
}

.book_author{
    font-size: 15px;
    color: gray;
    margin-top: 10px;
}
.book__price{
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    background: $theme-main-color;
    padding: 5px;
}
