%form.book-description(method="post" onsubmit="buyBook(); return false;") 
    .book-description__inline-container(itemscope itemtype="https://schema.org/Book")
        .book-description__name(th:text="${book.name}")
        .book-description__price-container
            .book-description__price(th:text="${\"$\" + book.price}")
            .book-description__price-postfix USD
    .book-description__container
        .book-description__author-prefix(th:text="\#{book.author}")
        .book-description__author-name(th:text="${book.author.name}" itemprop="author")
    .book-description__content-title(th:text="\#{book.description-title}")
    .book-description__content(th:text="${book.description}" itemprop="description")
    .book-description__control-container
        %button.book-description__by-btn(sec:authorize="isAuthenticated()" th:text="\#{book.buy-btn}")
        %button.book-description__by-btn(onclick=" openLogIn(); return false;" sec:authorize="!isAuthenticated()" th:text="\#{book.buy-btn}") 

.book-buy-modal(sec:authorize="isAuthenticated()")
    %form.modal__container(th:action="@{/new_user_order}" method="post")
        %input(type='hidden' name='bookId' th:value='${book.id}')
        %ul.modal__switcher
            %li.modal__switcher-item
                %a.modal__switcher-first.modal__switcher-first_selected(href='#0' th:text="\#{book.buy.payment-upon-receipt}")
            %li.modal__switcher-item
                %a.modal__switcher-second(href='#0' th:text="\#{book.buy.pay-online}")
        .modal__first.modal__first_is-selected
            .form
                %p.form__fieldset
                    %input.form__input(type='text' th:placeholder='\#{book.buy.phone}'  th:value='${user.delivery.phone}')
                %p.form__fieldset
                    %input.form__input(type='text' th:placeholder='\#{book.buy.delivery}' th:value="${user.delivery.address}")
                %p.form__fieldset
                    %input.form__submit(type='submit' th:value='\#{book.buy.order}')
        .modal__second
            .form
                %p.form__fieldset
                    %input.form__input(type='text' th:placeholder='\#{book.buy.phone}'  th:value='${user.delivery.phone}')
                %p.form__fieldset
                    %input.form__input(type='text' th:placeholder='\#{book.buy.delivery}' th:value="${user.delivery.address}")
                %p.form__fieldset
                    %input.form__input(type='text' th:placeholder='\#{book.buy.card-number}')
                %p.form__fieldset
                    %input.form__input(type='text' th:placeholder='\#{book.buy.month}')
                %p.form__fieldset
                    %input.form__input(type='text' th:placeholder='\#{book.buy.year}')
                %p.form__fieldset
                    %input.form__input(type='text' th:placeholder='\#{book.buy.owner-name}')
                %p.form__fieldset
                    %input.form__submit(type='submit' th:value='\#{book.buy.order}')
                
        %a.modal__close-form{href:'#0'} Закрыть

%script{src:"/js/blocks/form/form.js"}
%script{src:"/js/blocks/book/buy_book.js"}
:javascript
    configBuyBookModel('.book-buy-modal');





