.book-description{
    margin: 30px 5px;
}
.book-description__name{
    font-size: 25px;
    font-weight: bold;
    color: $theme-main__text-colot;
}

.book-description__author-prefix{
    padding: 0 5px 0 0 ;
    color: $theme-main__text-colot;
}
.book-description__author-name{
    color: $theme-main__text-colot;
    font-weight: bold;
    font-size: 20px;
}
.book-description__content-title {
    color: $theme-main__text-colot;
    font-weight: bold;
    font-size: 18px;
}
.book-description__content {
    font-size: 18px;
    margin: 5px 5px 0 0;
}
.book-description__container,
.book-description__control-container{
    margin: 20px 0;
    display: flex;
    align-items: flex-end;

}

.book-description__inline-container{
    display: flex;
}
.book-description__control-container{
    margin: 40px 0;
}

.book-description__price-container{
    margin: 0 0 0 50px;
    display: flex;
}
.book-description__price {
    color: $theme-main-color;   
    font-weight: bold;
    font-size: 30px;
}
.book-description__price-postfix{
    color: $theme-main-color;
    
    font-size: 15px;
    position: relative;
    top: 12px;
}
.book-description__by-btn{
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    margin: 0;
    background-color: $theme-main-color;
}

@media screen and (max-width: 576px){
    .book-description__control-container{
        display: block;
    } 
    .book-description__by-btn{
        float: right;
        margin: 10px 0 ;
    } 
}

.book-description__by-btn:hover{
    cursor: pointer;
    background-color: $theme-main-color_hover;
}