-# haml  pages/adminpanel/adminpanel.haml ../templates/adminpanel/adminpanel.html
%html
    %head
        %meta{charset:"utf-8"}
        %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        %link{rel:"stylesheet", type:"text/css", href: "/css/index.css" }
        
    %body
        .media-container
            = Haml::Engine.new(File.read("blocks/header/header.haml")).render

        = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render
          
        .media-container
            = Haml::Engine.new(File.read("blocks/adminpanel/table.haml")).render                
            
        
        .horosontal-line  
            .media-container
                = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render