%head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %meta(name="description" content="au theme template")
    %meta(name="author" content="Hau Nguyen")
    %meta(name="keywords" content="au theme template")

    %title Tables

    %link(href="css/font-face.css" rel="stylesheet" media="all")
    %link(href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all")
    %link(href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all")
    %link(href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all")

    %link(href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all")

    %link(href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all")
    %link(href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all")
    %link(href="vendor/wow/animate.css" rel="stylesheet" media="all")
    %link(href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all")
    %link(href="vendor/slick/slick.css" rel="stylesheet" media="all")
    %link(href="vendor/select2/select2.min.css" rel="stylesheet" media="all")
    %link(href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all")

    %link(href="css/theme.css" rel="stylesheet" media="all")

%body.animsition
    %div.page-wrapper
        %header.header-mobile.d-block.d-lg-none
            %div.header-mobile__bar
                %div.container-fluid
                    %div.header-mobile-inner
                        %a.logo(href="/index.html")
                            %h1 
                                %i Admin
                                Panel
                        %button.hamburger.hamburger--slider(type="button")
                            %span.hamburger-box
                                %span.hamburger-inner

            %nav.navbar-mobile
                %div.container-fluid
                    %ul.navbar-mobile__list.list-unstyled
                        %li.admin-panel__users-btn.active(sec:authorize="hasRole('ADMIN')")
                            %a(href="#")
                                %i.fas.fa-user(th:text="'  ' + \#{adminpanel.menu.users}")
                        %li.admin-panel__authors-btn
                            %a(href="#")
                                %i.fas.fa-address-card(th:text="'  ' + \#{adminpanel.menu.authors}")
                        %li.admin-panel__books-btn
                            %a(href="#")
                                %i.fas.fa-book(th:text="'  ' + \#{adminpanel.menu.books}")
                        %li.admin-panel__contacts-btn
                            %a(href="#")
                                %i.fas.fa-address-book(th:text="'  ' + \#{adminpanel.menu.contacts}")
                        %li.admin-panel__news-btn
                            %a(href="#")
                                %i.fas.fa-newspaper(th:text="'  ' + \#{adminpanel.menu.news}")
                        %li.admin-panel__gallery-btn
                            %a(href="#")
                                %i.fas.fa-th-list(th:text="'  ' + \#{adminpanel.menu.gallery}")
                        .horosontal-line 
                        %li.admin-panel__add-btn
                            %a(href="#")
                                %i.fas.fa-plus(th:text="'  ' + \#{adminpanel.menu.add}")
    


        %aside.menu-sidebar.d-none.d-lg-block
            .logo
                %a(href="/index.html")
                    %h1 
                        %i Admin
                        Panel
            
            %div.menu-sidebar__content.js-scrollbar1
                %nav.navbar-sidebar
                    %ul.list-unstyled.navbar__list
                        %li.active(sec:authorize="hasRole('ADMIN')")
                            %a.admin-panel__users-btn(href="#")
                                %i.fas.fa-user(th:text="'  ' + '  ' + \#{adminpanel.menu.users}")
                        %li.admin-panel__authors-btn
                            %a(href="#")
                                %i.fas.fa-address-card(th:text="'  ' + \#{adminpanel.menu.authors}") 
                        %li.admin-panel__books-btn
                            %a(href="#")
                                %i.fas.fa-book(th:text="'  ' + \#{adminpanel.menu.books}")
                        %li.admin-panel__contacts-btn
                            %a(href="#")
                                %i.fas.fa-address-book(th:text="'  ' + \#{adminpanel.menu.contacts}")
                        %li.admin-panel__news-btn
                            %a(href="#")
                                %i.fas.fa-newspaper(th:text="'  ' + \#{adminpanel.menu.news}")
                        %li.admin-panel__gallery-btn
                            %a(href="#")
                                %i.fas.fa-th-list(th:text="'  ' + \#{adminpanel.menu.gallery}")
                        %hr
                        %li.admin-panel__add-btn
                            %a(href="#")
                                %i.fas.fa-plus(th:text="'  ' + \#{adminpanel.menu.add}")



        .page-container
            %header.header-desktop
                .section__content.section__content--p30
                    .container-fluid
                        .header-button
                            .account-wrap
                                .account-item.clearfix.js-item-menu
                                    .image
                                        %img(th:src="${user.image}" alt="John Doe")
                                    .content
                                        %a.js-acc-btn(href="#" th:text="${user.name}") john doe
                                    .account-dropdown.js-dropdown
                                        .info.clearfix
                                            .image
                                                %a(href="#")
                                                    %img(th:src="${user.image}" th:alt="${user.name}")
                                            .content
                                                %h5name
                                                    %a(href="#" th:text="${user.name}")
                                                %span.email(th:text="${user.email}")
                                        .account-dropdown__body
                                            .account-dropdown__item
                                                %a(href="/account.html")
                                                    %i.zmdi.zmdi-account Account
        
            .main-content
                .section__content.section__content--p30
                    .container-fluid
                        .row.table-container
                            .table-responsive.table--no-card.m-b-30
                                %table.table.table-borderless.table-striped.table-earning.content-table
                                    %thead
                                        %tr
                                            %th ой
                                            %th на работает
                                            %th попытайтесь еще
                                            %th.text-right 
                                            %th.text-right 
                                            %th.text-right 
                                    %tbody
                                        %tr
                                            %td Oops
                                            %td Error
                                            %td Server not working
                                            %td.text-right 
                                            %td.text-right
                                            %td.text-right 
                            %nav
                                %ul.table-pagination.pagination
                                    %li.table-pagination__previous.page-item.page-link
                                        %span(aria-hidden="true") &laquo;
                                        %span.sr-only Previous
                                    %li.page-item.page-link.table-pagination__current
                                    %li.table-pagination__next.page-item.page-link
                                        %span(aria-hidden="true") &raquo;
                                        %span.sr-only Next
                                         

    .page-container
        #deleteConfirmModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static")
            .modal-dialog.modal-sm(role="document")
                .modal-content
                    .modal-header
                        %h5#staticModalLabel.modal-title Удаление
                        %button.close(type="button" data-dismiss="modal" aria-label="Close")
                            %span(aria-hidden="true") &times;

                    .modal-body
                        %p Вы уверены?

                    .modal-footer
                        %button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                        %button.btn.btn-primary(type="button" onclick="confirmDelete()") Confirm

        #deleteErrorDialog.modal.fade(tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static")
            .modal-dialog.modal-sm(role="document")
                .modal-content
                    .modal-header
                        %h5#staticModalLabel.modal-title Ops
                        %button.close(type="button" data-dismiss="modal" aria-label="Close")
                            %span(aria-hidden="true") &times;

                    .modal-body
                        %p This is a static modal, backdrop click will not close it.

                    .modal-footer
                        %button.btn.btn-secondary(type="button" data-dismiss="modal") Ok

    %script(src="vendor/jquery-3.2.1.min.js")

    %script(src="vendor/bootstrap-4.1/popper.min.js")
    %script(src="vendor/bootstrap-4.1/bootstrap.min.js")

    %script(src="vendor/slick/slick.min.js")
    
    %script(src="vendor/wow/wow.min.js")
    %script(src="vendor/animsition/animsition.min.js")
    %script(src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js")
    
    %script(src="vendor/counter-up/jquery.waypoints.min.js")
    %script(src="vendor/counter-up/jquery.counterup.min.js")
    
    %script(src="vendor/circle-progress/circle-progress.min.js")
    %script(src="vendor/perfect-scrollbar/perfect-scrollbar.js")
    %script(src="vendor/chartjs/Chart.bundle.min.js")
    %script(src="vendor/select2/select2.min.js")
    

    %script(src="js/main.js")

    %script{src:"/js/blocks/form/form.js"}
    %script{src:"/js/adminpanel/contentShower.js"}
    %script{src:"/js/adminpanel/pagination.js"}
    %script{src:"/js/adminpanel/requestSender.js"}
    %script{src:"/js/adminpanel/adminPanelListenersSetter.js"}
    %script{src:"/js/blocks/form/formDataSnder.js"}

    :javascript
        setBtnListeners(
            ".admin-panel__users-btn",
            ".admin-panel__authors-btn",
            ".admin-panel__books-btn",
            ".admin-panel__contacts-btn",
            ".admin-panel__news-btn",
            ".admin-panel__gallery-btn",
            ".admin-panel__add-btn");
        showAuthors();
