.photo-slider{
    margin: 35px 20px;
}
.photo-slider__container{
    width: 100%;
    height: 300px;
}
.photo-slider__item{
    display: none;
    max-height: 400px;
    max-width: 100%;
    max-height: 100%; 
    margin: 0 auto;
}
.photo-slider__control{
    text-align: center;
    display: flex;
    justify-content: center;
}
.photo-slider__control-item {
   
}

.photo-slider__bth{
    background: none;
    border: 0;
    margin: 2px;
    padding: 0;
    height: 200px;
    outline:0;

}
.photo-slider__btn-image{
    max-width: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.photo-slider__btn-image:hover{
    cursor: pointer;
    transform: scale(1.008);
}