#menu.menu
    %a.menu__schow-btn.menu__link(href="#" th:text="\#{menu.title}")
    %ul.menu__container
        %li.menu__item
            %a.menu__link(href="/catalog.html" th:text="\#{menu.catalog}") 
        %li.menu__item
            %a.menu__link(href="/delivery.html" th:text="\#{menu.delivery}") 
        %li.menu__item
            %a.menu__link(href="/gallery.html" th:text="\#{menu.gallery}") 
        %li.menu__item
            %a.menu__link(href="/news.html" th:text="\#{menu.news}") 
        %li.menu__item
            %a.menu__link(href="/contacts.html" th:text="\#{menu.contacts}") 

%script{src:"js/blocks/menu.js"}