.book-comments.sm-12.md-r-11.lg-r-11.xl-r-11
    .book-comments__container
        .book-comments__item.sm-12.md-12.lg-12.xl-12(th:each="comment:${book.comments}")
            .book-comments__container.sm-12.md-4.lg-3.xl-2
                .book-comments__commentator(th:text="${comment.user.name}")
                .book-comments__container
                    %img.book-comments__date-img{src:'/img/ico_calendar.gif'}
                    .book-comments__date(th:text="${comment.date}")
            .book-comments__container.sm-12.md-8.lg-9.xl-10
                .book-comments__content(th:text="${comment.content}")

        .book-comments__item.sm-12.md-12.lg-12.xl-12(sec:authorize="isAuthenticated()")
            .book-comments__container.sm-12.md-4.lg-3.xl-2
                .book-comments__commentator(th:text="\#{comments.leave_your_comment}")
            %form.book-comments__container.sm-12.md-8.lg-9.xl-10(action="/add_comment" method='post')
                %input(type='hidden' name='bookId' th:value='${book.id}')
                %textarea.book-comments__new-comment.sm-12.md-12.lg-9.xl-10(th:placeholder='\#{comments.enter_your_comment}' name="content")
                %input.book-comments__new-comment-btn.sm-r-6.md-r-4.lg-3.xl-2(type='submit' th:value='\#{comments.send}')
