.book-comments{
    box-sizing: border-box;
    padding: 5px;
}
.book-comments__container{
    padding: 5px 0 0 0;
}
.book-comments__item{
    padding: 15px 0;
}
.book-comments__commentator{
    font-weight: bold;
    color: $theme-main__text-colot;
}
.book-comments__date-img{
    float: left;
    width: 20px;
    height: 20px;
    padding: 0 3px 0 0 ;    
}
.book-comments__date{
    color: $theme-main__text-colot;
}
.book-comments__content{

}
.book-comments__new-comment{
    height: 40px;
}
.book-comments__new-comment-btn{
    height: 40px;
}