@import 'pagination.scss';


// .table-container{
//   // width: 100%;
//   // display: flex;
//   // flex-wrap: wrap;
//   // justify-content: center;
// }
// .content-table {
//   font-family: 'Open Sans', sans-serif;
//   display: block;
//   border-collapse: collapse;
//   overflow: scroll;
//   overflow-y: hidden; 
//   overflow-x: auto; 
// }  
//   .content-table__tr{
//     font-weight: bold;
//     box-sizing: border-box; 
//   }
//   .content-table_underline{
//     border-bottom: 1px solid $theme-main-horisontal-line-color;
//   }
//   .content-table__th {
//   padding: 10px 20px;  
//   color: rgb(0, 0, 0);  
//   font-size: 0.9em;
//   text-align: start;
//   }
//   .content-table__th:first-child {
//   text-align: left;
//   }
//   .content-table__th:last-child {
//   border-right: none;
//   }
//   .content-table__td {
//     padding: 10px;
//     font-size: 14px;
//     margin-left: -1px;
//   }
//   .content-table__delete-btn:hover{
//     background-color: $theme-main-color_hover;
//     color: white;
//   }

//   .content-table__line{
//     border-radius: 5px;
//   }
//   .content-table__line:hover{
//     background-color: $theme-main__background-color_hover;

//     cursor: pointer;
//   }
  
  .table__image-item{
    max-width: 100px;
  }
  @media (max-width: 991px){
.header-desktop {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
}
}

//   .form__image-content-container{
//     justify-content: center;
//     display: flex;
//   }

//   .left-menu__item{
//     padding: 10px;
//     border-radius: 5px; 
//   }
//   .left-menu__item:hover{
//     background-color: $theme-main__background-color_hover;
//   }
