.order{
    
}

.order__item{
    border: 1px solid $theme-main-horisontal-line-color;
    border-radius: 5px;
    display: flex;
    margin: 5px 0 ;
}

.order__wraper{
    width: 100%;
}
.order__title{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 10px;
}
.order__img-wraper{
    width: 100%;
    text-align: center;
    padding: 2px 2px;
    
}
.order__img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}
.order__name{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 10px;  
}
.order__prime{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: #0b0b0c;
    padding: 10px 0 0 10px; 
}
.order__prime-postfix{
    color: #0b0b0c;
    font-size: 0.8rem;
}
.order__date{
    text-align: end;
    padding: 10px 30px 0 10px; 
}
