.sussess_mes(th:if="${success != null}")
  %strong.success_mes__title(th:text="\#{message.success}")
  %span.success_mes__label(th:text=" \#{${success}}")

.error_mes(th:if="${error != null}")
  %strong.error_mes__title(th:text="\#{message.error}")
  %span.error_mes__label(th:text=" \#{${error}}")
